body {
  background: azure;
}
div {
  border: 1px dashed gray;
}
#header {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
form {
  margin: 10px;
}
.text .text0 {
  width: 200px;
  height: 20px;
}
.submit {
  width: 70px;
  height: 20px;
  background: gray;
  color: white;
  font-weight: 200;
}
#providers {
  width: 49%;
  height: 500px;
  text-align: center;
}
#details {
  width: 49%;
  height: 500px;
  text-align: center;
}
h4 {
  margin-top: 5px;
}
footer {
  clear: both;
  text-align: center;
}
